{% extends 'base.html' %}


{% block content %}
<div class='col-sm-12'>

<h1>{{ post.title }}</h1>


<p class='lead'>{{ post.content }}</p>

<small>{{ post.timestamp }}</small>


<h2>Комментарии</h2>
<hr>
{% for comment in comments %}
<div class='col-sm-12'>
<p>{{ comment.comment_text }}</p>
<small>Пользователь: {{ comment.author.username }}</small>
<br>
<small>{{ comment.timestamp|date:"Y-m-d H:i:s" }}</small>
<hr>
</div>
{% endfor %}
<div class='col-sm-12' id='comments'>
</div>
<form action='' id='comments_form' method='POST'>
<input type='hidden' id='user' value="{{ user.username }}", data-post='{{ post.slug }}'>
{% csrf_token %}
{{ form.as_p }}
<input type='submit' class='btn btn-default' value='Submit'>
</form>
</div>
<script type="text/javascript" src="//ajax.googleapis.com/ajax/libs/jquery/1.11.0/jquery.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>
{% endblock content %}